body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    margin: 0;
    padding: 0;
    
}

.container {
    text-align: center;
    margin-top: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: "Blaka", system-ui;
    font-weight: 300;
    font-style: normal;
    font-size: 4rem;
    
}

button{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: box-shadow 0.3s;
  }
  
  button:focus {
    outline: 0;
  }
  
  button:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  button:hover:after {
    bottom: 2px;
    left: 2px;
  }
  
  @media screen and (min-width: 768px) {
    button {
      padding: 10px 20px;
      font-size: 1.25rem;
    }
  }

#options {
    margin: 20px 0;
}

#board{
    align-content: center;
    margin: 20px 0;
    border-radius: 15px;
}

.row {
    display: inline-block;
}

.cell {
    flex: 1;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 4em;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    margin-top: 10px;
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

@media screen and (max-width: 440px){
  .cell{
   
    width: 60px;
    height: 60px;
    font-size: 1em;
    
  }
}

#message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}



#reset {
    display: none;
    padding: 15px 30px; 
    font-size: 18px; 
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    background-color: white;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 1px;
    width: 200px; 
    height: 50px;
}


.footer {
  background-color: #17171700;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.15);
}
.footer__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.footer__social {
  margin-bottom: 2rem;
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 1rem;
}
.footer__copy {
  font-size:.75rem;
}

